* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fdfdfc;
    color: #060505;

}


.header {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.header .container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 70px;

}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #060505;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #06bf44;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.3s;

}

nav ul li a:hover::after {
    width: 100%;

}

.header-text {
    margin-top: 20%;
    font-size: 50px;
    

}
.header-text p{
    text-decoration: wavy;
    font-family: 'Courier New', Courier, monospace;
}

.header-text h1 {
    font-size: 50px;
    

}

.header-text h1 .s1 {
    color: #06bf44;

}

/* About section started */

#about {
    padding: 80px 0;
    color: #0b0a0a;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 70px;

}

.about-col-1 {
    flex-basis: 35%;

}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;


}

.about-col-2 {
    flex-basis: 60%;
    text-align: justify;
    font-size: 20px;
    margin-right: 20px;

}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: #060505;

}

.row1 {
    margin: 40px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 70px;

}

.about-col-3 {
    flex-basis: 35%;
    text-align: justify;
    font-size: 20px;
    margin-right: 20px;


}

.about-col-3 img {
    width: 100%;
    border-radius: 15px;


}

.about-col-4 {
    flex-basis: 60%;
    text-align: justify;
    font-size: 20px;
    margin-right: 20px;

}

.sub-title1 {
    font-size: 60px;
    font-weight: 600;
    color: #060505;

}

.row2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.about-col-5 {
    flex-basis: 35%;
    text-align: justify;
    font-size: 20px;
    margin-right: 20px;


}

.about-col-5 img {
    width: 100%;
    border-radius: 15px;


}

.about-col-6 {
    flex-basis: 60%;
    text-align: justify;
    font-size: 20px;
    margin-right: 20px;

}

.sub-title3 {
    font-size: 60px;
    font-weight: 600;
    color: #060505;

}

footer p {
    color: rgb(106, 51, 216);
    text-align: center;
    padding: 30px;
}
.row4 {
    margin: 40px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 70px;

}

.about-col-8 {
    flex-basis: 35%;
    text-align: justify;
    font-size: 20px;
    margin-right: 20px;


}

.about-col-8 img {
    margin-top: 50px;
    width: 100%;
    border-radius: 15px;


}

.about-col-7{
    flex-basis: 60%;
    text-align: justify;
    font-size: 20px;
    margin-right: 20px;

}

.sub-title5 {
    font-size: 60px;
    font-weight: 600;
    color: #060505;

}